/*
 * version:  1.2.12 - Fri Nov 19 14:16:50 2021
*/

/*--------------------- TABLA --------------------- */
tr,
td,
th {
  color: white;
}

.tabla_depa_disponibilidad > tbody > tr > td,
.tabla_depa_disponibilidad > tbody > tr > th,
.tabla_depa_disponibilidad > tfoot > tr > td,
.tabla_depa_disponibilidad > tfoot > tr > th,
.tabla_depa_disponibilidad > thead > tr > td,
.tabla_depa_disponibilidad > thead > tr > th {
  padding: 2px;
}
.tabla_depa_disponibilidad > tbody > tr.espacio > td {
  padding: 5px;
}

#depa_disponibilidad {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgba(0, 0, 255, 0.5);
}

.table-hover tbody tr.espacio:hover td,
.table-hover tbody tr.espacio:hover th {
  background-color: unset;
}

/*--------------------- CARRUSEL --------------------- */
.carrusel_contenido {
  cursor: pointer;
}

.carrusel_contenedor {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: white;
  width: 100%;
}

.carrusel_contenedor_img {
  /* background-color: red; */
  width: 250px;
  height: 250px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.carrusel_contenedor_img img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
}

.carrusel_nombre {
  display: block;
  padding-left: 30px;
  font-weight: bold;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

/*--------------------- DETALLE DEPA --------------------- */
.depa_detalle {
  background-color: rgb(255, 255, 255);
}
.depa_detalle_img {
  border-radius: 15px;
}

.depa_detalle_galeria_img {
  min-width: 800px;
  min-height: 800px;
  overflow: hidden;
}

.depa_detalle_galeria_img img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
}
.depa_detalle_plano_img {
  min-width: 800px;
  min-height: 800px;
  overflow: hidden;
}

.depa_detalle_plano_img img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: auto;
}

.slick-prev {
  left: 10px !important;
}

.slick-next {
  right: 10px !important;
}

.slick-track {
  min-width: 100%;
  transform: translate3d(0, 0, 0) !important;
}

.fondo {
  background-image: url("https://img.freepik.com/foto-gratis/fondo-textura-pared-ladrillo-blanco-moderno_35257-348.jpg?size=626&ext=jpg");
  background-repeat: repeat;
}
