.carrusel_contenedor {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: white;
  width: 100%;
}

.carrusel_contenido {
  position: relative;
  display: inline-block;
}

.carrusel_contenedor_img {
  /* background-color: red; */
  width: 250px;
  height: 250px;

  position: relative;
  overflow: hidden;
}

.carrusel_contenedor_img img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: auto;
}

.arrow-1 {
  width: 20px;
  height: 10px;
  display: flex;
  float: right;
  cursor: pointer;
}
.arrow-1:before {
  content: "";
  background: black;
  width: 20px;
  clip-path: polygon(
    0 2px,
    calc(100% - 5px) 2px,
    calc(100% - 5px) 0,
    100% 50%,
    calc(100% - 5px) 100%,
    calc(100% - 5px) calc(100% - 2px),
    0 calc(100% - 2px)
  );
}

.left {
  transform: rotate(180deg);
  margin-right: 30px;
}

.carrusel_contenedor_flechas {
  padding-bottom: 30px;
  padding-right: 40px;
  /* padding-top: 30px; */
}

.carrusel_nombre {
  display: block;
  padding-left: 30px;
  font-weight: bold;
}
