/*
 * version:  1.4.1 - Mon Nov 22 18:42:19 2021
*/

.pointer {
  cursor: pointer;
}

/*--------------------- TABLA --------------------- */
tr,
td,
th {
  color: white;
  cursor: pointer;
}

.tabla_depa_disponibilidad > tbody > tr > td,
.tabla_depa_disponibilidad > tbody > tr > th,
.tabla_depa_disponibilidad > tfoot > tr > td,
.tabla_depa_disponibilidad > tfoot > tr > th,
.tabla_depa_disponibilidad > thead > tr > td,
.tabla_depa_disponibilidad > thead > tr > th {
  padding: 10px;
}

#depa_disponibilidad {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgba(0, 0, 255, 0.5);
}

/*--------------------- CARRUSEL --------------------- */
.carrusel_contenido {
  cursor: pointer;
}

.carrusel_contenedor {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: white;
  width: 100%;
}

.carrusel_contenedor_img {
  /* background-color: red; */
  width: 250px;
  height: 250px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.carrusel_contenedor_img img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
}

.carrusel_nombre {
  display: block;
  padding-left: 30px;
  font-weight: bold;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

/*--------------------- DETALLE DEPA --------------------- */
.depa_detalle {
  background-color: rgb(255, 255, 255);
}
.depa_detalle_img {
  border-radius: 15px;
}

.depa_detalle_galeria_img {
  min-width: 800px;
  min-height: 800px;
  overflow: hidden;
}

.depa_detalle_galeria_img img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
}

.depa_detalle_galeria_img iframe {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.depa_detalle_plano_img {
  min-width: 800px;
  min-height: 800px;
  overflow: hidden;
}

.depa_detalle_plano_img img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  width: auto;
}

.slick-prev {
  left: 10px !important;
}

.slick-next {
  right: 10px !important;
}

.slick-track {
  min-width: 100%;
  transform: translate3d(0, 0, 0) !important;
}

.fondo {
  background-image: url("https://img.freepik.com/foto-gratis/fondo-textura-pared-ladrillo-blanco-moderno_35257-348.jpg?size=626&ext=jpg");
  background-repeat: repeat;
}

/*--------------------- PAQUETES --------------------- */

#paquete_section {
  display: none;
}

.paquete_contenedor .card,
.paquete_gold_contenedor .card {
  border-radius: 0;
}

.paquete_contenedor {
  background-color: #f5f6f7;
}

.paquete_gold_contenedor {
  background-color: #c9c9cb;
}

.paquete_gold_sub {
  position: relative;
  width: 100%;
  height: 100%;
}

.marcador_paquete {
  background-color: black;
  width: 150px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -16px;
  z-index: 100;
}

.close {
  /* position: absolute; */
  right: -15px;
  /* top: 32px; */
  /* width: 32px; */
  height: 10px;
}

.close:before,
.close:after {
  position: absolute;
  /* left: 15px; */
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
